.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Raleway&display=swap');
body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 14px;
}

.parent-container  {
    width: 1000px;
    height: 600px;
    background-color: hsl(243, 100%, 93%);
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

.card {
    width: 900px;
    height: 500px;
    background-color: hsl(229, 57%, 11%);
    margin-left: 50px;
    margin-right: 50px;
    top: 50px;
    position: relative;
    background-image: url(../images/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 236px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.upload {
    width: 200px;
    background-color:  hsl(228, 56%, 26%);
    height: 130px;
    border-radius: 5px;
    border-top-right-radius: 60px;
    position: relative;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-content: center;
    margin-left: 10px;
    padding-left: 25px;
}
.upload .logo img {
    width: 50%;
}
.icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width:80%;
}

.icons .one {
    background:hsl(229, 57%, 11%) ;
    border-radius: 5px;
    height: 40px;
}
.icons .one img {
    padding: 8px;
    padding-bottom: 0px;
}


.loading {
    background:  hsl(228, 56%, 26%);
    width: 330px;
    height: 100px;
    border-radius: 5px;
}
        /* For Firefox */
progress::-moz-progress-bar {
    background: linear-gradient( hsl(6, 100%, 80%) ,  hsl(335, 100%, 65%));
    border-radius: 20px;
    }
  
        /* For Chrome or Safari */
progress::-webkit-progress-value {
    background: linear-gradient( hsl(6, 100%, 80%) ,  hsl(335, 100%, 65%));
    border-radius: 20px;
   
}

        /* For IE10 */
progress {
    margin-top: 10px;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: hsl(229, 57%, 11%) ;
}

.mustapha {
    width: 29%;
    background-color: white;
    color: black;
    height: 20%;
    content: '185 GB Left';
    border: solid rgb(245, 242, 242);
    position: relative;
    left: 63%;
    bottom: 100px;
    padding: 10px;
    border-radius: 5px;
}
.mustapha::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1.375rem;
    right: -3px;
    border-right: 2rem solid white;
    border-bottom: 2rem solid transparent;
}


.comp {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 16px;
    color: white;
}
.value-bar{
    display: flex;
    flex-direction: row;
    gap: 198px;
    margin-top: -11px;
}
.first-text ,.value-bar{
    font-size: 10px;
    color : hsl(var(--pale-blue), 0.8);
}

@media only screen and (max-width: 375px)  {
    .parent-container  {
        width: 375px;
        height: 667px;
        background-color: hsl(243, 100%, 93%);
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }
    
    .card {
        width: 375px;
        height: 667px;
        background-color: hsl(0, 0%, 100%);
        margin-left: 0px;
        margin-right: 0px;
        top: 0px;
        position: relative;
        background-image: url(../images/bg-mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    
    .upload {
        width: 330px;
        background-color:  hsl(228, 56%, 26%);
        height: 180px;
        border-radius: 5px;
        border-top-right-radius: 60px;
        position: relative;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-content: center;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 0px;
        bottom: 25px;
    }
    .upload .logo img {
        width:35%;
        position: relative;
        left: 50px;
    }
    .icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width:80%;
        position: relative;
        left: 50px;
    }
    
    .icons .one {
        background:hsl(229, 57%, 11%) ;
        border-radius: 5px;
        height: 40px;
    }
    .icons .one img {
        padding: 10px;
        padding-bottom: 0px;
    }
    
    
    .loading {
        background:  hsl(228, 56%, 26%);
        width: 330px;
        height: 120px;
        border-radius: 5px;
        position: relative;
        bottom: 25px;
    }

            /* For Firefox */
    progress::-moz-progress-bar {
        background: linear-gradient( hsl(6, 100%, 80%) ,  hsl(335, 100%, 65%));
        border-radius: 20px;
        }
      
            /* For Chrome or Safari */
    progress::-webkit-progress-value {
        background: linear-gradient( hsl(6, 100%, 80%) ,  hsl(335, 100%, 65%));
        border-radius: 20px;
       
    }
    
            /* For IE10 */
    progress {
        margin-top: 10px;
        width: 100%;
        height: 10px;
        border-radius: 10px;
        background: hsl(229, 57%, 11%) ;
    }
    
    
    
    
    .comp {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 16px;
        color: white;
    }
    .value-bar{
        display: flex;
        flex-direction: row;
        gap: 198px;
        margin-top: -11px;
    }
    .first-text ,.value-bar{
        font-size: 10px;
    }
    .mustapha {
        width: 69%;
        background-color: white;
        color: black;
        height: 50px;
        content: '185 GB Left';
        border: solid rgb(245, 242, 242);
        position: relative;
        left: 9%;
        bottom: 0px;
        top: 5px;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 10px;
    }
    .mustapha::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0rem;
        right: 0px;
        border-right: 0rem solid white;
        border-bottom: 0rem solid transparent;
    }
    .mustapha .a{
        font-size: 2.5rem;
        font-weight: 700;
        font-family: 'Raleway', sans-serif
    }
    .mustapha .b{
        font-size: 0.75rem;
        font-weight: 700;
        color: hsl(228, 6.7%, 56.3%);
    }
}